@use 'src/scss/mixins.scss' as *;
@use 'src/scss/variables.scss' as *;

.CheckoutFooter {
  @include container;
  border-top: 1px solid #eee;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;

  &__subtotal {
    display: flex;
    gap: 1rem;

    p {
      font-size: 16px;
    }

    &__label {
      color: $gray-light;
    }

    &__amount {
      font-weight: 600;
    }
  }

  &__checkout {
    align-self: flex-end;
    padding: 12px 48px;
    background: transparent;
    color: $gray-dark;
    border: 1px solid $gray-dark;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background: $gray-dark;
      color: white;
    }

    &:active {
      background: rgba($gray-dark, 0.9);
    }

    &:disabled {
      color: #aaa;
      border-color: #aaa;
      cursor: not-allowed;

      &:hover {
        background: transparent;
      }
    }
  }
}
