@use "src/scss/variables.scss" as *;

.Popover {
  &__content {
    z-index: 1000;
    padding: 1rem;
    border-radius: 4px;
    background-color: white;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  }

  &__arrow {
    fill: white;
  }
}
