@use 'src/scss/animations.scss' as *;
@use 'src/scss/mixins.scss' as *;
@use 'src/scss/variables.scss' as *;

.CheckoutForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow: auto;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
