@import "src/scss/variables.scss";

.ResetPassword {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__card {
    margin-top: 4rem;
    width: 100%;
    max-width: 400px;
    padding: 3rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  h2 {
    width: 100%;
    text-align: left;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    & > input {
      padding: 0.75rem 1rem;
      border-radius: 3px;
      border: 1px solid $gray-light;
      font-size: 1rem;
    }

    & > button {
      margin-top: 0.5rem;
      padding: 0.75rem 0;
      border: none;
      border-radius: 3px;
      background-color: $gray-dark;
      color: white;
      width: 100%;
      font-size: 1rem;
      cursor: pointer;

      &:disabled {
        background-color: $gray-light;
        cursor: not-allowed;
      }
    }
  }

  &__link {
    color: $accent-blue;
    text-decoration: none;
    font-size: 0.9rem;
  }

  &__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & p a {
      font-size: 1rem;
    }
  }

  &__countdown {
    font-weight: bold;
    color: $accent-blue;
  }
}
